<nav class="navbar text-center navbar-light bg-light text-dark">
  <a class="navbar-brand rounded mx-auto d-block" href="#">
    <img src="https://imgur.com/4fqdBen.png" width="230" height="230" alt="logo">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active font-weight-bold" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active font-weight-bold" href="#">Contato</a>
      </li>
    </ul>
    
  </a>
</nav>